USE [SIBNE]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArchivoAdjunto]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivoAdjunto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [nvarchar](max) NULL,
	[Tipo] [nvarchar](max) NULL,
	[Ext] [nvarchar](max) NULL,
	[FileData] [varbinary](max) NULL,
 CONSTRAINT [PK_ArchivoAdjunto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 04/09/2025 1:40:46 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Habilitado] [bit] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[Eliminado] [bit] NOT NULL,
	[PrimerIngreso] [bit] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_AspNetUsers_UserName] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargaMasivaArchivo]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargaMasivaArchivo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreArchivo] [nvarchar](max) NULL,
	[FechaIngreso] [datetime2](7) NULL,
	[Estado] [nvarchar](max) NULL,
 CONSTRAINT [PK_CargaMasivaArchivo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargaMasivaDetalle]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargaMasivaDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CargaMasivaArchivoId] [int] NOT NULL,
	[NombreHoja] [nvarchar](max) NULL,
	[FechaIngreso] [datetime2](7) NULL,
	[Estado] [nvarchar](max) NULL,
	[RegistrosCargado] [int] NOT NULL,
	[RegistrosConError] [int] NOT NULL,
	[TotalRegistros] [int] NOT NULL,
 CONSTRAINT [PK_CargaMasivaDetalle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CargaMasivaError]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CargaMasivaError](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CargaMasivaArchivoId] [int] NOT NULL,
	[Linea] [int] NOT NULL,
	[Columna] [int] NOT NULL,
	[NombreCampo] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[CargaMasivaDetalleId] [int] NOT NULL,
	[EmpresaId] [nvarchar](max) NULL,
 CONSTRAINT [PK_CargaMasivaError] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoriaTransaccion]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoriaTransaccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Categoria] [nvarchar](max) NULL,
	[FormularioId] [int] NOT NULL,
 CONSTRAINT [PK_CategoriaTransaccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comuna]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comuna](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinciaId] [int] NOT NULL,
	[RegionId] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Old_Id] [int] NULL,
 CONSTRAINT [PK_Comuna] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Cargo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[EmpresaId] [nvarchar](256) NOT NULL,
	[TipoContactoId] [int] NOT NULL,
	[DigitoVerificador] [nvarchar](max) NULL,
	[Rut] [int] NOT NULL,
 CONSTRAINT [PK_Contacto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailConfig]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[Asunto] [nvarchar](max) NULL,
	[Plantilla] [nvarchar](max) NULL,
	[EncuestaId] [int] NULL,
	[EstadoEmailId] [int] NOT NULL,
	[ListaEmpresas] [nvarchar](max) NULL,
	[FechaGeneracionEnvio] [datetime2](7) NULL,
 CONSTRAINT [PK_EmailConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailLogs]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHoraEnvio] [datetime2](7) NULL,
	[Estado] [nvarchar](max) NULL,
	[Para] [nvarchar](max) NULL,
	[Msje] [nvarchar](max) NULL,
	[EmailConfigId] [int] NULL,
	[FechaHoraRegistro] [datetime2](7) NOT NULL,
	[EmpresaId] [nvarchar](256) NULL,
 CONSTRAINT [PK_EmailLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [nvarchar](256) NOT NULL,
	[Rut] [int] NOT NULL,
	[Dv] [nvarchar](max) NULL,
	[Nombre] [nvarchar](200) NULL,
	[RazonSocial] [nvarchar](200) NULL,
	[Habilitado] [bit] NOT NULL,
	[SectorEnergeticoId] [int] NOT NULL,
	[SectorEconomicoId] [int] NOT NULL,
	[SubSectorEconomicoId] [int] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[SectorEconomicoSiiId] [int] NULL,
	[InstensidadEnergiaFormObligada] [bit] NOT NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encuesta]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encuesta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Anio] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaTermino] [datetime2](7) NULL,
	[MargenError] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[ArchivoAdjuntoid] [int] NULL,
	[ValorDolar] [float] NULL,
 CONSTRAINT [PK_Encuesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EncuestaEmpresa]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncuestaEmpresa](
	[EmpresaId] [nvarchar](256) NOT NULL,
	[EncuestaId] [int] NOT NULL,
	[EstadoEmpresaId] [int] NOT NULL,
 CONSTRAINT [PK_EncuestaEmpresa] PRIMARY KEY CLUSTERED 
(
	[EncuestaId] ASC,
	[EmpresaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EncuestaPlanta]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EncuestaPlanta](
	[EncuestaId] [int] NOT NULL,
	[PlantaId] [int] NOT NULL,
	[EstadoProcesoId] [int] NOT NULL,
	[FechaAsignacion] [datetime2](7) NOT NULL,
	[FechaFinalizacion] [datetime2](7) NULL,
	[FechaInicio] [datetime2](7) NULL,
	[FechaTransaccion] [datetime2](7) NULL,
 CONSTRAINT [PK_EncuestaPlanta] PRIMARY KEY CLUSTERED 
(
	[EncuestaId] ASC,
	[PlantaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Energetico]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Energetico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Activo] [bit] NOT NULL,
	[CodigoStr] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[LibreDisposicion] [bit] NOT NULL,
	[DensidadUnidadMedidaId] [int] NULL,
	[DensidadValor] [float] NULL,
	[PoderCalorificoUMedidaId] [int] NULL,
	[PoderCalorificoValor] [float] NULL,
	[PedirHumedad] [bit] NOT NULL,
	[PedirPoderCalorifico] [bit] NOT NULL,
	[EnergeticoGrupoId] [int] NOT NULL,
 CONSTRAINT [PK_Energetico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergeticoGrupos]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergeticoGrupos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_EnergeticoGrupos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnergeticoUnidadMedida]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnergeticoUnidadMedida](
	[EnergeticoId] [int] NOT NULL,
	[UnidadMedidaId] [int] NOT NULL,
 CONSTRAINT [PK_EnergeticoUnidadMedida] PRIMARY KEY CLUSTERED 
(
	[EnergeticoId] ASC,
	[UnidadMedidaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoEmail]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEmail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_EstadoEmail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoEmpresa]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoEmpresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_EstadoEmpresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoProceso]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProceso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_EstadoProceso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstadoReporte]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoReporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_EstadoReporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactorConversion]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactorConversion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Factor] [float] NOT NULL,
	[UOrigenId] [int] NOT NULL,
	[UDestinoId] [int] NOT NULL,
 CONSTRAINT [PK_FactorConversion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formulario]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formulario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Orden] [int] NOT NULL,
	[CodigoNav] [nvarchar](max) NULL,
 CONSTRAINT [PK_Formulario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IntensidadEnergEncuestaEmpresa]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IntensidadEnergEncuestaEmpresa](
	[EmpresaId] [nvarchar](256) NULL,
	[EncuestaId] [int] NOT NULL,
	[ProcesoTerminado] [bit] NOT NULL,
	[FechaHoraRegistro] [datetime2](7) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_IntensidadEnergEncuestaEmpresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pais]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pais](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Iso2] [nvarchar](max) NULL,
	[Iso3] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[NumeroIso] [int] NOT NULL,
 CONSTRAINT [PK_Pais] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
	[ComunaId] [int] NOT NULL,
	[EmpresaId] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_Planta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegionId] [int] NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Numero] [int] NOT NULL,
	[Posicion] [int] NOT NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reporte]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Descripcion] [nvarchar](max) NULL,
	[ConsultaSql] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
	[EsStoredProcedure] [bit] NOT NULL,
	[EstadoReporteId] [int] NOT NULL,
	[EncuestaId] [int] NULL,
	[FechaGeneracionArchivo] [datetime2](7) NULL,
 CONSTRAINT [PK_Reporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectorEconomico]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectorEconomico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[CodigoStr] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_SectorEconomico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectorEconomicoSii]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectorEconomicoSii](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[CodigoStr] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_SectorEconomicoSii] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SectorEnergetico]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SectorEnergetico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[CodigoStr] [nvarchar](max) NULL,
 CONSTRAINT [PK_SectorEnergetico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubSectorEconomico]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSectorEconomico](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[SectorEconomicoId] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PK_SubSectorEconomico] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tecnologia]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tecnologia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tecnologia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoContacto]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContacto](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
 CONSTRAINT [PK_TipoContacto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoOtroUso]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoOtroUso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoStr] [nvarchar](450) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
	[Orden] [smallint] NOT NULL,
 CONSTRAINT [PK_TipoOtroUso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoPerdida]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoPerdida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoStr] [nvarchar](450) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Orden] [smallint] NOT NULL,
 CONSTRAINT [PK_TipoPerdida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTransporte]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTransporte](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoStr] [nvarchar](450) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Orden] [smallint] NOT NULL,
 CONSTRAINT [PK_TipoTransporte] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsoProceso]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsoProceso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoStr] [nvarchar](450) NULL,
	[Nombre] [nvarchar](max) NULL,
	[Orden] [smallint] NOT NULL,
 CONSTRAINT [PK_TipoUsoProceso] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaccion]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaccion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CantidadIn] [float] NOT NULL,
	[CantidadOut] [float] NOT NULL,
	[CantidadTCalIn] [float] NOT NULL,
	[CantidadTCalOut] [float] NOT NULL,
	[CategoriaTransaccionId] [int] NOT NULL,
	[EnergeticoInId] [int] NULL,
	[EnergeticoOutId] [int] NULL,
	[FechaIngreso] [datetime2](7) NULL,
	[FormularioId] [int] NOT NULL,
	[PlantaId] [int] NOT NULL,
	[EncuestaId] [int] NOT NULL,
	[UnidadMedidaInId] [int] NULL,
	[UnidadMedidaOutId] [int] NULL,
	[DatosStr] [nvarchar](max) NULL,
	[RegionDestId] [int] NULL,
	[SectorEconomicoDestId] [int] NULL,
	[SubSectorEconomicoDestId] [int] NULL,
	[CantPoderCalorifico] [float] NULL,
	[PorcentajeHumedad] [float] NULL,
	[NombreEmpresaOrigen] [nvarchar](max) NULL,
	[StockFinal] [float] NULL,
	[StockInicial] [float] NULL,
	[NombreEmpresaDestino] [nvarchar](max) NULL,
	[MercadoSpot] [bit] NULL,
	[Localidad] [nvarchar](max) NULL,
	[TecnologiaId] [int] NULL,
	[UnidadMedidaNoAprovechadaId] [int] NULL,
	[CantidadNoAprovechada] [float] NULL,
	[UnidadMedidaCapInstaladaId] [int] NULL,
	[CantidadCapInstalada] [float] NULL,
	[Observacion] [nvarchar](max) NULL,
	[PaisId] [int] NULL,
	[SubTecnologia] [nvarchar](max) NULL,
	[Detalle] [nvarchar](max) NULL,
	[SubCategoria] [nvarchar](max) NULL,
 CONSTRAINT [PK_Transaccion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaccionIntensidadEnergia]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaccionIntensidadEnergia](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConsumoEnergia] [float] NOT NULL,
	[VentaMonetariaAnual] [float] NOT NULL,
	[Unidad] [nvarchar](max) NULL,
	[FormularioId] [int] NOT NULL,
	[FechaHoraRegistro] [datetime2](7) NOT NULL,
	[IntensidadEnergEncuestaEmpresaId] [int] NOT NULL,
 CONSTRAINT [PK_TransaccionIntensidadEnergia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnidadMedida]    Script Date: 04/09/2025 1:40:47 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnidadMedida](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CodigoStr] [nvarchar](max) NULL,
	[Nombre] [nvarchar](max) NULL,
	[TipoUnidad] [nvarchar](max) NULL,
	[DestinoId] [int] NULL,
	[OrigenId] [int] NULL,
	[VisibleSelect] [bit] NOT NULL,
 CONSTRAINT [PK_UnidadMedida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((1)) FOR [PrimerIngreso]
GO
ALTER TABLE [dbo].[Contacto] ADD  DEFAULT ((0)) FOR [Rut]
GO
ALTER TABLE [dbo].[EmailConfig] ADD  DEFAULT ((1)) FOR [EstadoEmailId]
GO
ALTER TABLE [dbo].[EmailLogs] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [FechaHoraRegistro]
GO
ALTER TABLE [dbo].[Empresa] ADD  DEFAULT ((0)) FOR [InstensidadEnergiaFormObligada]
GO
ALTER TABLE [dbo].[EncuestaEmpresa] ADD  DEFAULT ((1)) FOR [EstadoEmpresaId]
GO
ALTER TABLE [dbo].[EncuestaPlanta] ADD  DEFAULT ((0)) FOR [EstadoProcesoId]
GO
ALTER TABLE [dbo].[EncuestaPlanta] ADD  DEFAULT ('2019-01-01T00:00:00.0000000') FOR [FechaAsignacion]
GO
ALTER TABLE [dbo].[Energetico] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Energetico] ADD  DEFAULT ((0)) FOR [PedirHumedad]
GO
ALTER TABLE [dbo].[Energetico] ADD  DEFAULT ((0)) FOR [PedirPoderCalorifico]
GO
ALTER TABLE [dbo].[Energetico] ADD  DEFAULT ((0)) FOR [EnergeticoGrupoId]
GO
ALTER TABLE [dbo].[Planta] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Reporte] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Reporte] ADD  DEFAULT ((0)) FOR [EsStoredProcedure]
GO
ALTER TABLE [dbo].[Reporte] ADD  DEFAULT ((1)) FOR [EstadoReporteId]
GO
ALTER TABLE [dbo].[SectorEconomico] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[SubSectorEconomico] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[TipoOtroUso] ADD  DEFAULT ((0)) FOR [Activo]
GO
ALTER TABLE [dbo].[TipoOtroUso] ADD  DEFAULT (CONVERT([smallint],(0))) FOR [Orden]
GO
ALTER TABLE [dbo].[TipoPerdida] ADD  DEFAULT (CONVERT([smallint],(0))) FOR [Orden]
GO
ALTER TABLE [dbo].[TipoTransporte] ADD  DEFAULT (CONVERT([smallint],(0))) FOR [Orden]
GO
ALTER TABLE [dbo].[TipoUsoProceso] ADD  DEFAULT (CONVERT([smallint],(0))) FOR [Orden]
GO
ALTER TABLE [dbo].[TransaccionIntensidadEnergia] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [FechaHoraRegistro]
GO
ALTER TABLE [dbo].[UnidadMedida] ADD  DEFAULT ((0)) FOR [VisibleSelect]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[CargaMasivaDetalle]  WITH CHECK ADD  CONSTRAINT [FK_CargaMasivaDetalle_CargaMasivaArchivo_CargaMasivaArchivoId] FOREIGN KEY([CargaMasivaArchivoId])
REFERENCES [dbo].[CargaMasivaArchivo] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CargaMasivaDetalle] CHECK CONSTRAINT [FK_CargaMasivaDetalle_CargaMasivaArchivo_CargaMasivaArchivoId]
GO
ALTER TABLE [dbo].[CargaMasivaError]  WITH CHECK ADD  CONSTRAINT [FK_CargaMasivaError_CargaMasivaDetalle_CargaMasivaDetalleId] FOREIGN KEY([CargaMasivaDetalleId])
REFERENCES [dbo].[CargaMasivaDetalle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CargaMasivaError] CHECK CONSTRAINT [FK_CargaMasivaError_CargaMasivaDetalle_CargaMasivaDetalleId]
GO
ALTER TABLE [dbo].[CategoriaTransaccion]  WITH CHECK ADD  CONSTRAINT [FK_CategoriaTransaccion_Formulario_FormularioId] FOREIGN KEY([FormularioId])
REFERENCES [dbo].[Formulario] ([Id])
GO
ALTER TABLE [dbo].[CategoriaTransaccion] CHECK CONSTRAINT [FK_CategoriaTransaccion_Formulario_FormularioId]
GO
ALTER TABLE [dbo].[Comuna]  WITH CHECK ADD  CONSTRAINT [FK_Comuna_Region_RegionId] FOREIGN KEY([RegionId])
REFERENCES [dbo].[Region] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comuna] CHECK CONSTRAINT [FK_Comuna_Region_RegionId]
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_Empresa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacto] CHECK CONSTRAINT [FK_Contacto_Empresa_EmpresaId]
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD  CONSTRAINT [FK_Contacto_TipoContacto_TipoContactoId] FOREIGN KEY([TipoContactoId])
REFERENCES [dbo].[TipoContacto] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contacto] CHECK CONSTRAINT [FK_Contacto_TipoContacto_TipoContactoId]
GO
ALTER TABLE [dbo].[EmailConfig]  WITH CHECK ADD  CONSTRAINT [FK_EmailConfig_EstadoEmail_EstadoEmailId] FOREIGN KEY([EstadoEmailId])
REFERENCES [dbo].[EstadoEmail] ([Id])
GO
ALTER TABLE [dbo].[EmailConfig] CHECK CONSTRAINT [FK_EmailConfig_EstadoEmail_EstadoEmailId]
GO
ALTER TABLE [dbo].[EmailLogs]  WITH CHECK ADD  CONSTRAINT [FK_EmailLogs_EmailConfig_EmailConfigId] FOREIGN KEY([EmailConfigId])
REFERENCES [dbo].[EmailConfig] ([Id])
GO
ALTER TABLE [dbo].[EmailLogs] CHECK CONSTRAINT [FK_EmailLogs_EmailConfig_EmailConfigId]
GO
ALTER TABLE [dbo].[EmailLogs]  WITH CHECK ADD  CONSTRAINT [FK_EmailLogs_Empresa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmailLogs] CHECK CONSTRAINT [FK_EmailLogs_Empresa_EmpresaId]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_AspNetUsers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[AspNetUsers] ([UserName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_AspNetUsers_Id]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_SectorEconomico_SectorEconomicoId] FOREIGN KEY([SectorEconomicoId])
REFERENCES [dbo].[SectorEconomico] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_SectorEconomico_SectorEconomicoId]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_SectorEconomicoSii_SectorEconomicoSiiId] FOREIGN KEY([SectorEconomicoSiiId])
REFERENCES [dbo].[SectorEconomicoSii] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_SectorEconomicoSii_SectorEconomicoSiiId]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_SectorEnergetico_SectorEnergeticoId] FOREIGN KEY([SectorEnergeticoId])
REFERENCES [dbo].[SectorEnergetico] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_SectorEnergetico_SectorEnergeticoId]
GO
ALTER TABLE [dbo].[Empresa]  WITH CHECK ADD  CONSTRAINT [FK_Empresa_SubSectorEconomico_SubSectorEconomicoId] FOREIGN KEY([SubSectorEconomicoId])
REFERENCES [dbo].[SubSectorEconomico] ([Id])
GO
ALTER TABLE [dbo].[Empresa] CHECK CONSTRAINT [FK_Empresa_SubSectorEconomico_SubSectorEconomicoId]
GO
ALTER TABLE [dbo].[Encuesta]  WITH CHECK ADD  CONSTRAINT [FK_Encuesta_ArchivoAdjunto_ArchivoAdjuntoid] FOREIGN KEY([ArchivoAdjuntoid])
REFERENCES [dbo].[ArchivoAdjunto] ([Id])
GO
ALTER TABLE [dbo].[Encuesta] CHECK CONSTRAINT [FK_Encuesta_ArchivoAdjunto_ArchivoAdjuntoid]
GO
ALTER TABLE [dbo].[EncuestaEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaEmpresa_Empresa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncuestaEmpresa] CHECK CONSTRAINT [FK_EncuestaEmpresa_Empresa_EmpresaId]
GO
ALTER TABLE [dbo].[EncuestaEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaEmpresa_Encuesta_EncuestaId] FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncuestaEmpresa] CHECK CONSTRAINT [FK_EncuestaEmpresa_Encuesta_EncuestaId]
GO
ALTER TABLE [dbo].[EncuestaEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaEmpresa_EstadoEmpresa_EstadoEmpresaId] FOREIGN KEY([EstadoEmpresaId])
REFERENCES [dbo].[EstadoEmpresa] ([Id])
GO
ALTER TABLE [dbo].[EncuestaEmpresa] CHECK CONSTRAINT [FK_EncuestaEmpresa_EstadoEmpresa_EstadoEmpresaId]
GO
ALTER TABLE [dbo].[EncuestaPlanta]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaPlanta_Encuesta_EncuestaId] FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncuestaPlanta] CHECK CONSTRAINT [FK_EncuestaPlanta_Encuesta_EncuestaId]
GO
ALTER TABLE [dbo].[EncuestaPlanta]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaPlanta_EstadoProceso_EstadoProcesoId] FOREIGN KEY([EstadoProcesoId])
REFERENCES [dbo].[EstadoProceso] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncuestaPlanta] CHECK CONSTRAINT [FK_EncuestaPlanta_EstadoProceso_EstadoProcesoId]
GO
ALTER TABLE [dbo].[EncuestaPlanta]  WITH CHECK ADD  CONSTRAINT [FK_EncuestaPlanta_Planta_PlantaId] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EncuestaPlanta] CHECK CONSTRAINT [FK_EncuestaPlanta_Planta_PlantaId]
GO
ALTER TABLE [dbo].[Energetico]  WITH CHECK ADD  CONSTRAINT [FK_Energetico_EnergeticoGrupos_EnergeticoGrupoId] FOREIGN KEY([EnergeticoGrupoId])
REFERENCES [dbo].[EnergeticoGrupos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Energetico] CHECK CONSTRAINT [FK_Energetico_EnergeticoGrupos_EnergeticoGrupoId]
GO
ALTER TABLE [dbo].[Energetico]  WITH CHECK ADD  CONSTRAINT [FK_Energetico_UnidadMedida_DensidadUnidadMedidaId] FOREIGN KEY([DensidadUnidadMedidaId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Energetico] CHECK CONSTRAINT [FK_Energetico_UnidadMedida_DensidadUnidadMedidaId]
GO
ALTER TABLE [dbo].[Energetico]  WITH CHECK ADD  CONSTRAINT [FK_Energetico_UnidadMedida_PoderCalorificoUMedidaId] FOREIGN KEY([PoderCalorificoUMedidaId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Energetico] CHECK CONSTRAINT [FK_Energetico_UnidadMedida_PoderCalorificoUMedidaId]
GO
ALTER TABLE [dbo].[EnergeticoUnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_EnergeticoUnidadMedida_Energetico_EnergeticoId] FOREIGN KEY([EnergeticoId])
REFERENCES [dbo].[Energetico] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergeticoUnidadMedida] CHECK CONSTRAINT [FK_EnergeticoUnidadMedida_Energetico_EnergeticoId]
GO
ALTER TABLE [dbo].[EnergeticoUnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_EnergeticoUnidadMedida_UnidadMedida_UnidadMedidaId] FOREIGN KEY([UnidadMedidaId])
REFERENCES [dbo].[UnidadMedida] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EnergeticoUnidadMedida] CHECK CONSTRAINT [FK_EnergeticoUnidadMedida_UnidadMedida_UnidadMedidaId]
GO
ALTER TABLE [dbo].[FactorConversion]  WITH CHECK ADD  CONSTRAINT [FK_FactorConversion_UnidadMedida_UDestinoId] FOREIGN KEY([UDestinoId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[FactorConversion] CHECK CONSTRAINT [FK_FactorConversion_UnidadMedida_UDestinoId]
GO
ALTER TABLE [dbo].[FactorConversion]  WITH CHECK ADD  CONSTRAINT [FK_FactorConversion_UnidadMedida_UOrigenId] FOREIGN KEY([UOrigenId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[FactorConversion] CHECK CONSTRAINT [FK_FactorConversion_UnidadMedida_UOrigenId]
GO
ALTER TABLE [dbo].[IntensidadEnergEncuestaEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_IntensidadEnergEncuestaEmpresa_Empresa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
GO
ALTER TABLE [dbo].[IntensidadEnergEncuestaEmpresa] CHECK CONSTRAINT [FK_IntensidadEnergEncuestaEmpresa_Empresa_EmpresaId]
GO
ALTER TABLE [dbo].[IntensidadEnergEncuestaEmpresa]  WITH CHECK ADD  CONSTRAINT [FK_IntensidadEnergEncuestaEmpresa_Encuesta_EncuestaId] FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[IntensidadEnergEncuestaEmpresa] CHECK CONSTRAINT [FK_IntensidadEnergEncuestaEmpresa_Encuesta_EncuestaId]
GO
ALTER TABLE [dbo].[Planta]  WITH CHECK ADD  CONSTRAINT [FK_Planta_Comuna_ComunaId] FOREIGN KEY([ComunaId])
REFERENCES [dbo].[Comuna] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Planta] CHECK CONSTRAINT [FK_Planta_Comuna_ComunaId]
GO
ALTER TABLE [dbo].[Planta]  WITH CHECK ADD  CONSTRAINT [FK_Planta_Empresa_EmpresaId] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Planta] CHECK CONSTRAINT [FK_Planta_Empresa_EmpresaId]
GO
ALTER TABLE [dbo].[Reporte]  WITH CHECK ADD  CONSTRAINT [FK_Reporte_EstadoReporte_EstadoReporteId] FOREIGN KEY([EstadoReporteId])
REFERENCES [dbo].[EstadoReporte] ([Id])
GO
ALTER TABLE [dbo].[Reporte] CHECK CONSTRAINT [FK_Reporte_EstadoReporte_EstadoReporteId]
GO
ALTER TABLE [dbo].[SubSectorEconomico]  WITH CHECK ADD  CONSTRAINT [FK_SubSectorEconomico_SectorEconomico_SectorEconomicoId] FOREIGN KEY([SectorEconomicoId])
REFERENCES [dbo].[SectorEconomico] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SubSectorEconomico] CHECK CONSTRAINT [FK_SubSectorEconomico_SectorEconomico_SectorEconomicoId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_CategoriaTransaccion_CategoriaTransaccionId] FOREIGN KEY([CategoriaTransaccionId])
REFERENCES [dbo].[CategoriaTransaccion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_CategoriaTransaccion_CategoriaTransaccionId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Encuesta_EncuestaId] FOREIGN KEY([EncuestaId])
REFERENCES [dbo].[Encuesta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Encuesta_EncuestaId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Energetico_EnergeticoInId] FOREIGN KEY([EnergeticoInId])
REFERENCES [dbo].[Energetico] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Energetico_EnergeticoInId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Energetico_EnergeticoOutId] FOREIGN KEY([EnergeticoOutId])
REFERENCES [dbo].[Energetico] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Energetico_EnergeticoOutId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Energetico_RegionDestId] FOREIGN KEY([RegionDestId])
REFERENCES [dbo].[Energetico] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Energetico_RegionDestId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Formulario_FormularioId] FOREIGN KEY([FormularioId])
REFERENCES [dbo].[Formulario] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Formulario_FormularioId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Pais_PaisId] FOREIGN KEY([PaisId])
REFERENCES [dbo].[Pais] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Pais_PaisId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Planta_PlantaId] FOREIGN KEY([PlantaId])
REFERENCES [dbo].[Planta] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Planta_PlantaId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_SectorEconomico_SectorEconomicoDestId] FOREIGN KEY([SectorEconomicoDestId])
REFERENCES [dbo].[SectorEconomico] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_SectorEconomico_SectorEconomicoDestId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_SubSectorEconomico_SubSectorEconomicoDestId] FOREIGN KEY([SubSectorEconomicoDestId])
REFERENCES [dbo].[SubSectorEconomico] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_SubSectorEconomico_SubSectorEconomicoDestId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_Tecnologia_TecnologiaId] FOREIGN KEY([TecnologiaId])
REFERENCES [dbo].[Tecnologia] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_Tecnologia_TecnologiaId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaCapInstaladaId] FOREIGN KEY([UnidadMedidaCapInstaladaId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaCapInstaladaId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaInId] FOREIGN KEY([UnidadMedidaInId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaInId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaNoAprovechadaId] FOREIGN KEY([UnidadMedidaNoAprovechadaId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaNoAprovechadaId]
GO
ALTER TABLE [dbo].[Transaccion]  WITH CHECK ADD  CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaOutId] FOREIGN KEY([UnidadMedidaOutId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[Transaccion] CHECK CONSTRAINT [FK_Transaccion_UnidadMedida_UnidadMedidaOutId]
GO
ALTER TABLE [dbo].[TransaccionIntensidadEnergia]  WITH CHECK ADD  CONSTRAINT [FK_TransaccionIntensidadEnergia_IntensidadEnergEncuestaEmpresa_IntensidadEnergEncuestaEmpresaId] FOREIGN KEY([IntensidadEnergEncuestaEmpresaId])
REFERENCES [dbo].[IntensidadEnergEncuestaEmpresa] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransaccionIntensidadEnergia] CHECK CONSTRAINT [FK_TransaccionIntensidadEnergia_IntensidadEnergEncuestaEmpresa_IntensidadEnergEncuestaEmpresaId]
GO
ALTER TABLE [dbo].[UnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_UnidadMedida_UnidadMedida_DestinoId] FOREIGN KEY([DestinoId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[UnidadMedida] CHECK CONSTRAINT [FK_UnidadMedida_UnidadMedida_DestinoId]
GO
ALTER TABLE [dbo].[UnidadMedida]  WITH CHECK ADD  CONSTRAINT [FK_UnidadMedida_UnidadMedida_OrigenId] FOREIGN KEY([OrigenId])
REFERENCES [dbo].[UnidadMedida] ([Id])
GO
ALTER TABLE [dbo].[UnidadMedida] CHECK CONSTRAINT [FK_UnidadMedida_UnidadMedida_OrigenId]
GO
